Example_2
[{"id":"7690d378.3415cc","type":"inject","z":"efc2913b.39908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 0 * * *","once":false,"x":356,"y":175,"wires":[["9478a468.f815a8"]]},{"id":"befc4b91.81f3d8","type":"debug","z":"efc2913b.39908","name":"","active":true,"console":"false","complete":"payload","x":947,"y":149,"wires":[]},{"id":"8465f4aa.45e2c8","type":"function","z":"efc2913b.39908","name":"","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n\n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\nreturn null;","outputs":"2","noerr":0,"x":721,"y":177,"wires":[["befc4b91.81f3d8"],["ffd529ed.281878"]]},{"id":"9478a468.f815a8","type":"http request","z":"efc2913b.39908","name":"","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":552,"y":176,"wires":[["8465f4aa.45e2c8"]]},{"id":"ffd529ed.281878","type":"debug","z":"efc2913b.39908","name":"","active":true,"console":"false","complete":"false","x":946,"y":198,"wires":[]}]



